<!DOCTYPE html>
<html>
<head>
  <title>Teams</title>
  <%= stylesheet_link_tag    "teams/application", media: "all" %>
  <%= javascript_include_tag "teams/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
